/* componentes */
.boton-principal {
  background-color: #EBFBF0;
  border: 1px solid #00B13F;
  border-radius: 16px;
  padding: .5rem 2rem;
  font-size: 1.25rem;
  text-transform: uppercase; }

/* inicio footer */
footer {
  text-align: center;
  font-size: 16px;
  color: #2B3952;
  padding: 20px; }

/* inicio navbar */
.navbar {
  padding: 16px 32px;
  font-size: 20px;
  color: #00B13F; }

.menu-navbar {
  display: flex;
  list-style: none;
  grid-gap: 16px;
  color: #027F3A; }

.navbar-nav {
  background-color: #ffffff;
  margin-left: auto; }

.nav-item .nav-link {
  color: #01080f; }
  .nav-item .nav-link:hover {
    color: #00B13F; }

/* fin navbar*/
/* fin componentes */
/* utilidades */
/* fin utilidades */
/* vistas */
/* incio frontal*/
.frontal {
  font-size: larger;
  width: 1500px; }

.frontal-destop {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(img/banner-pagina-web.jpg);
  background-position: center;
  background-size: cover;
  color: #010101; }

.frontal-mobile {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../img/producto1.png);
  background-position: center;
  background-size: cover;
  color: #010101;
  display: none; }

/* fin frontal */
/* estilos de mail */
h2 {
  background-color: #00B13F;
  color: #01080f;
  padding: 16px;
  margin-bottom: 35px; }

h1 {
  text-align: center;
  font-size: 25px; }

.contenedor-servicios {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  flex-direction: row;
  flex-wrap: wrap; }

.carta {
  width: 255px; }

main {
  text-align: center; }

main p {
  font-size: 20px;
  color: #01080f; }

.beneficios {
  padding: 28px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.menu-beneficios {
  list-style: none;
  font-size: 24px;
  text-align: start;
  padding: 24px; }

/* fin estilos de mail */
/* inicio estilos nosotros */
.historia {
  padding: 16px;
  font-size: 20px;
  background-color: #00B13F;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100px; }

.nosotros-frontal {
  padding: 150px;
  font-size: larger;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/banner-tres-nosotros.png);
  background-position: center;
  background-size: cover;
  color: #01080f; }

.contenedor {
  background-color: #00B13F;
  max-width: 1300px;
  margin: 20px auto;
  text-align: left;
  padding: 20px;
  display: grid;
  grid-gap: 32px;
  grid-template-areas: 'left right' 'bottom bottom'; }

.contenido {
  grid-area: left; }

.contenido-dos {
  grid-area: right; }

.contenido-tres {
  grid-area: bottom; }

.contenedor h2 {
  background-color: #EBFBF0;
  text-align: center; }

.contenedor > div,
.contenedor .contenido,
.contenedor .contenido-dos {
  background-color: #EBFBF0;
  padding: 20px;
  border-radius: 4px; }

.contenido-dos {
  text-align: center; }
  .contenido-dos img {
    width: 100%; }

.contenido-tres {
  text-align: center; }

/* fin estilos nosotros */
/* inicio estilos producto */
.contenedor--productos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  flex-direction: row;
  flex-wrap: wrap; }

.carta {
  transition: .3s; }

.carta:hover {
  transform: scale(1.05, 1.05); }

/* fin estilos producto */
/* incio interes*/
.noticia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 32px; }

.noticia h2 {
  background-color: #ffffff; }

.noticia-texto p {
  text-align: left;
  margin-bottom: 16px; }

.noticia-texto {
  width: 500px; }

.noticia-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 32px; }

.noticia-dos h2 {
  background-color: #ffffff; }

.noticia-texto-dos p {
  text-align: left;
  margin-bottom: 16px; }

.noticia-texto-dos {
  width: 500px; }

.noticia-tres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 32px; }

.noticia-tres h2 {
  background-color: #ffffff; }

.noticia-texto-tres p {
  text-align: left;
  margin-bottom: 16px; }

.noticia-texto-tres {
  width: 500px; }

.video iframe {
  width: 500px;
  height: 280px; }

.video-dos iframe {
  width: 500px;
  height: 280px; }

.video-tres iframe {
  width: 500px;
  height: 280px; }

/* incio contacto*/
.contenedor-formulario {
  min-height: 60vh; }

.formulario-contacto {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.form-control {
  border: 1px solid #00B13F; }

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  display: block; }

/* vistas */
/* base */
/* Laptop */
/* Fin laptop */
/* Tablet landscape */
@media (max-width: 1024px) {
  /* index */
  body {
    /* background-color: pink; */ }
  /* end index */ }

/* Fin tablet landscape */
/* Tablet portrait */
@media (max-width: 768px) {
  /* Nosotros */
  .contenedor {
    background-color: #00B13F;
    max-width: 100%;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'left left' 'right right' 'bottom bottom'; }
  /* End nosotros */ }

/* fin tablet portrait */
/* Cell landscape */
/* Fin cell landscape */
/* Cell portrait */
@media (max-width: 480px) {
  .frontal-desktop {
    display: none; }
  .frontal {
    padding: 24px; }
  .frontal-mobile {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../img/producto1.png);
    background-position: center;
    background-size: cover;
    color: #010101;
    display: block;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .frontal-mobile h1 {
    /* background-color: yellow !important; */
    color: white; }
  /* Contacto */
  .formulario-contacto {
    width: 100%; }
  /* End Contacto */
  /* Interes */
  .noticia-texto {
    width: 90%; }
  .noticia-texto-dos {
    width: 90%; }
  .noticia-texto-tres {
    width: 90%; }
  .video iframe {
    width: 100%;
    height: 280px; }
  .video-dos iframe {
    width: 100%;
    height: 280px; }
  .video-tres iframe {
    width: 100%;
    height: 280px; }
  /* End Interes */ }

/* Fin cell portrait */
/* fin base */
